*{
    padding: 0;
}
body {
	color: #ffffff;
	min-width: 800px;
	background-color: #374151;
}

a{
    text-decoration: none;
	color: #000000;
}

body, #tasks, #tasks > div{
	width: 800px;
	margin: 0 auto;
}
#tasks{
	border: 1px solid #ffffff;
}
#tasks > div{
	padding: 5px;
	border: 1px solid #aaaaaa;
	background-color: #0077ff;
	justify-content: space-between;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: #6B7280;
	margin-bottom: 1rem;
}

