body {
	color: #ffffff;
	min-width: 600px;
	background-color: #374151;
}

a{
    text-decoration: none;
	color: #000000;
}

#tasks > div > button, #tasks > div > input[type="checkbox"]{
	float: right;
}

body, #tasks, #tasks > div{
	width: 600px;
	margin: 0 auto;
}
#tasks > div{
	padding: 5px;
	border: 3px solid #aaaaaa;
	background-color: #0077ff;
}

header h1{
	width: 600px; 
	font-size: 2.5rem;
	font-weight: 300;
	color: #6B7280;
	margin-bottom: 1rem;
}
header{
	width: 600px;
}

.inp-but-div{
	display: flex;
	flex-direction: column;
	min-width: 200px;
}

#new-task-form{
	min-width: 600px;
	min-height: 120px;
	display: flex;
	flex-direction: row;
	flex: 1 4;
}

#new-task-description{
	resize: none;
	min-height: 120px;
	min-width: 408px;
}

#addbutton{
	min-height: 60px;
}

#new-task-name{
	min-height: 60px;
}