
body {
	color: #ffffff;
	min-width: 600px;
	background-color: #374151;
}

a{
    text-decoration: none;
	color: #000000;
}
#new-task-description{
	height:200px;
}
#tasks > div > *{
	margin-left: auto;
}

body, #tasks, #tasks > div{
	width: 600px;
	margin: 0 auto;
}
#tasks > div{
	padding: 5px;
	border: 3px solid #aaaaaa;
	background-color: #0077ff;
	justify-content: space-between;
}

header h1{
	width: 600px; 
	font-size: 2.5rem;
	font-weight: 300;
	color: #6B7280;
	margin-bottom: 1rem;
}
header{
	width: 600px;
}

